@import "~normalize.css";


$orange-color: #ff7700;
$grey-color: #b8b2b2;
$medium-card-text: 80%;
$small-card-text: 70%;


.wrapper {
  max-width: 2000px;
  
  display: grid;
  grid-auto-rows: minmax(70px, auto) 1fr 70px;
  
  font-family: 'Titillium Web', sans-serif;
}


.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-bottom: solid 1px $grey-color;

  background: linear-gradient(#ffffff 0%, #e2e2e2 100%);
  
  
  @media (max-width: 800px) {
    grid-template-columns: 0.7fr 1.3fr;
    
    box-sizing: border-box;
  }
  
  
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
    
    
  &__header {
    margin: 0;
    
    font-family: 'IM Fell Great Primer SC', serif;

    align-self: center;
    justify-self: center;
  }


  &__sub-header_color {
    color: $orange-color;
  }
}


.navigation {
  &__list {
    margin: 0;
    padding: 0;

    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
    
    
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    list-style: none;
  }
    
    
  &__item:not(:last-child) {
    border-right: solid 1px $grey-color;
  }
    
    
  &__link {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: solid 4px transparent;
    box-sizing: border-box;

    transition: all 0.3s linear;

    color: #000000;
    text-decoration: none;
      
      
    &:hover {
      border-bottom-color: #ff7700;

      background: linear-gradient(#ffffff 0%, #ccc4c4 100%);
    }
      
      
    .fas {
      margin-bottom: 5px;
    }
  }
}


.upload {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  
  
  @media (max-width: 400px) {
    width: 90%;
  }
  
  
  .search {
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-gap: 5px;
    
    
    @media (max-width: 985px) {
      grid-template-columns: 1.5fr 0.5fr;
    }
    
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    
    
    &__field {
      display: flex;

      padding: 0 5px;
      box-sizing: border-box;

      border: solid 1px #c1bfbf;
    }
    
    
    &__text {
      /*flex-grow: 5;*/
      flex-grow: 1;
      border: none;
    }
    
    
    &__file {
      display: none;
    }
    
    
    &__label {
      margin: 5px 0;
      padding: 3px 5px;
      box-sizing: border-box;

      font-size: 90%;
      border-radius: 4px;

      background: #c1bfbf;
      color: #ffffff;
      cursor: pointer;
    }
    
    
    &__button {
      background: $orange-color;
      color: #ffffff;
      border: none;
      cursor: pointer;
      
      
      @media (max-width: 600px) {
        justify-self: center;
        padding: 5px 15px;
      }
    }
    
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  grid-row-gap: 20px;
  
  padding: 30px 0;
  
  
  @media (max-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (max-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 360px) {
    grid-template-columns: 1fr;
  }
}


.card {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-areas: 
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    "img img img img img img img img"
    "text text text text text text text favorite"
    "border border border border border border border border"
    ". . . share-text share-text twitter facebook pinterest";
  align-items: center;
  justify-items: center;
  
  padding: 5px;
  box-sizing: border-box;
  
  box-shadow: 0 0 3px 2px $grey-color;
  
  
  @media (max-width: 1300px) {
    width: 200px;
  }
  
  @media (max-width: 900px) {
    width: 150px;
  }
  
  @media (max-width: 360px) {
    width: 250px;
  }
  
  
  &__img {
    grid-area: img;
    width: 100%;
  }
  
  &__text {
    grid-area: text;
    justify-self: start;
    font-size: $medium-card-text;
    color: $grey-color;
    
    @media (max-width: 900px) {
      font-size: $small-card-text;
    }
  }
  
  &__favorite {
    grid-area: favorite;
    
    display: grid;
    justify-items: center;
    align-items: center;
    
    width: 12px;
    height: 12px;
    
    background: $orange-color;
    border-radius: 50%;
    padding: 5px;
    
    text-decoration: none;
    
    i {
      color: #ffffff;
      font-size: 70%;
    }
  }
  
  &__border {
    grid-area: border;
    
    width: 100%;
    height: 1px;
    background: $grey-color;
  }
  
  &__share-text {
    grid-area: share-text;
    font-size: $medium-card-text;
    color: $grey-color;
    
    @media (max-width: 900px) {
      font-size: $small-card-text;
    }
  }
  
  &__social {
    display: grid;
    justify-items: center;
    align-items: center;
    
    width: 12px;
    height: 12px;
    
    padding: 5px;
    
    background: #b8b2b2;
    border-radius: 50%;
    text-decoration: none;
    
    transition: all 0.3s linear;
    
    &:hover {
      background: #283e8f;
    }
    
    i {
      color: #ffffff;
      font-size: 70%;
    }
  }
  
  &__twitter {
    grid-area: twitter;
  }
  
  &__facebook {
    grid-area: facebook;
  }
  
  &__pinterest {
    grid-area: pinterest;
  }
}


.footer {
  justify-self: center;
  align-self: center;
  
  padding: 0 20px;
  text-align: center;
  
  color: $grey-color;
}